.card-list {
  margin: 69px 0 0 0;
  padding: 70px 0;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 24px;
  row-gap: 30px;
  list-style-type: none;
  border-top: 1px solid #E8E8E8;

  @media (max-width: 1300px) {
    & {
      margin-top: 109px;
      width: auto;
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
    }
  }
  
  @media (max-width: 767px) {
    & {
      padding-top: 100px;
    }
  }

  &__button-more {
    margin: 10px 0 90px 0;
    padding: 11px 60px;
    width: 320px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    transition: opacity 0.3s linear;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    @media (max-width: 1100px) {
      & {
        font-size: 32px;
      }
    }
    
    @media (max-width: 767px) {
      & {
        padding-top: 5px;
        font-size: 28px;
      }
    }
    
    @media (max-width: 470px) {
      & {
        font-size: 26px;
      }
    }

    @media (max-width: 380px) {
      & {
        font-size: 22px;
      }
    }


  }

}