.form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_type_auth {
    width: 396px;
    
    @media (max-width: 1100px) {
      & {

      }
    }
    
    @media (max-width: 767px) {
      & {
        width: 260px;
        flex: content;
      }
    }

  }

  &_type_profile {
    width: 410px;

    @media (max-width: 1100px) {
      & {
      }
    }
    
    @media (max-width: 767px) {
      & {
        width: 260px;
      }
    }

  }

  &__title {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    text-align: left;

    @media (max-width: 767px) {
      & {
        text-align: center;
      }
    }
  
    &_type_profile {
      text-align: center;
    }

    
  }

  &__info {
    width: 100%;
    min-height: 212.4px;
    margin: 0;
    padding: 40px 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;  /*для липкого футера*/

    @media (max-width: 767px) {
      & {
        padding-top: 80px;
      }
    }
      
    &_type_profile {
      padding: 123px 0;
      min-height: auto;

      @media (max-width: 1100px) {
        & {
          padding: 96px 0;
        }
      }
      
      @media (max-width: 767px) {
        & {
          padding: 80px 10px 0 10px;
          flex: 1;  /*для липкого футера*/
        }
      }
    }

  }

  &__field {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    &_type_profile {
      margin-bottom: 20px;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      display: grid;
      grid-template-columns: 141px 1fr;
      grid-template-areas:
      "labell input"
      "spann spann";
    }
    
    &:last-child {
      border-bottom: none;
    }

  }

  &__label {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #A0A0A0;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
  
    &_type_profile {
      color: black;
      font-weight: 500;
      font-size: 11px;
      line-height: 1.2;
      grid-area: labell;
    }

  }

  &__input {
    width: 100%;
    margin: 0;
    padding: 5px 0 10px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;

    &:focus {
      outline: 0;
      outline-offset: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 1);
    }

    &_type_profile {
      padding: 0;
      text-align: right;
      border: none;
      font-weight: 400;
      font-size: 11px;
      line-height: 1.2;
      grid-area: input;      

      &:focus {
        border-bottom: none;
      }
    }

  }

  &__span {
    width: 100%;
    min-height: 30px;
    margin: 0;
    padding: 6px 0 0 0;
    box-sizing: border-box;
    color: red;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;

    &_type_profile {
      min-height: 20px;
      text-align: right;
      grid-area: spann;
    }

  }

  &__save-button {
    width: 100%;
    height: 45px;
    margin: 95px 0 16px 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    transition: opacity 0.2s linear;
  
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    &_disabled {
      background-color: #F8F8F8;
      color: #C2C2C2;

      &:hover {
        background-color: #F8F8F8;
        color: #C2C2C2;
        opacity: 1;
        cursor: default;
      }
      
    }
    
    @media (max-width: 767px) {
      & {
        //margin-top: 180px;
        margin-top: auto;
      }
    }

    &_type_profile {
      width: auto;
      height: auto;
      background-color: transparent;
      border: none;
      color: black;
      font-weight: 500;
      font-size: 13px;
      line-height: 1.2;

      @media (max-width: 1100px) {
        & {
          margin-top: 114px;
        }
      }
      
      @media (max-width: 767px) {
        & {
          margin-top: 340px;
          font-size: 12px;        
        }
      }
    }

    

  }

  &__question {
    margin: 0;
    padding: 0;    
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    transition: opacity 0.2s linear;
    color: #A0A0A0;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
    
    @media (max-width: 767px) {
      & {
        font-size: 12px;
      }
    }
    
  }

  &__link {
    color: black;
    
    &_type_profile {
      color: red;

    }
  }

}